.footer22 {
    position: static  ;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: navajowhite;
    color: white;
    text-align: center;
}

html {
    position: relative;
    min-height: 100%;
}

.footer {
    background-color: #9CAFC4;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
}