.home-nav {
    background-color: white;
    border-bottom: 8px solid red;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 2.5% !important;
    padding-right: 2.5% !important;
}

.nav-img {
    max-width: 7.5%;
}

.login-btn-color{
    background-color:red !important;
}