.login-btn-color{
    background-color:red !important;
    border-color: red !important;
}

.signup-btn-color{
    background-color: #284B63 !important;
    border-color: #284B63 !important;
}

.red-text{
    color:red;
}